* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 110px;
    display: grid;
    /*justify-content: space-between;
    align-items: baseline;*/
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    margin-bottom: 60px;
}

.main-container {
    margin: 0 auto;
    width: 75%;
}

.header-izq h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 47.7px;
}

.header-derecho h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #000;
}

.header-text {
    width: 50%;
}

.header-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
}

.team {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.down {
    margin-top: 50px;
}

.card img {
    width: 70%;
}

.profile-role-container {
    display: flex;
}

.profile-role-container p {
    writing-mode: vertical-lr;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.card-name {
    margin-top: 10px;
}